/*ページ全体　共通CSS body aside フッター　更新履歴　アニメーション*/
html{font-size: 25px;}
body{margin-right: auto;    margin-left : auto;    width:380px;  background-color: rgb(238, 217, 197); font-family: 'DotGothic16', sans-serif;line-height:170%;}

/*レトロマップ*/
#retro_map{width:380px; height:780px;}
/*レトロマップ ロゴ*/
#retoro_map_logo{width:380px;}
/*フッター*/
footer{	
    background-color: lightgray;
    color:grey;    
    text-align: center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px whitesmoke;}

/*aside*/
aside{color:rgb(170, 82, 0);
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(192, 126, 3);
    position:relative;}
aside h1{font-size:40px;font-weight: 600;color:rgb(182, 52, 0);}

/*index インデックスページ*/
.title_section{
    background-image: url();
    background-repeat: no-repeat;
    padding-top:1%;
    width:100%;
    background-position: center center;
    background-size:cover;
    text-align: center; 
    position: relative;}
.title_section p{
    color:rgb(192, 127, 53);
    font-size: 44px;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(63, 20, 20);
    position:relative;
    top:4px;}
#title_logo{width: 100%;}



 /*メディアクエリ　デスクトップの指定*/
@media(min-width: 600px){
/*全体のレイアウト*/
body{width:1178px; }
.main_aside_layout{display:flex;justify-content: space-between;
        margin-bottom: 4rem; padding:1rem 2.5rem 2.5rem;} 
/*レトロマップ*/
#retro_map{width:700px; height:800px;}       

/*レトロマップ ロゴ*/
#retoro_map_logo{width:680px;}

/*メイン*/
main{width: 70%;margin-bottom:0;}
/*アサイド*/
aside{ width: 29%; }
#titile_position{top:2%;}

/*インデックスページ*/
/*一番目のセクション*/
.title_section p{font-size:45px;margin-bottom: 15px;}
}